protocols {
    bgp {
        {% for group in bgp.groups %}
        group {{ group.name }} {
            {% if 'export' in group %}
            export {{ group.export_policy }};
            {% endif %}
            {% if 'local_as' in group %}
            local-as {{ group.local_as}};
            {% endif %}
            {% if 'local_address' in group %}
            local-address {{ group.local_address }};
            {% endif %}
            {% for neighbor in group.neighbors %}
            neighbor {{ neighbor.address }}{% if 'peer_as' in neighbor %}{
                peer-as {{ neighbor.peer_as }};
            }
            {% else %};
            {% endif %}
            {% endfor %}
            type external;
            {% if 'family' in group %}
            family {{ group.family }} {
                signaling;
            }
            {% endif %}
            {% if 'cluster' in group %}
            cluster {{ group.cluster }};
            {% endif %}
            {% if group.multipath is defined %}
	    multipath{% if 'multiple_as' in group.multipath %} {
                multiple-as;
            }
            {% else %};
            {% endif %}
            {% endif %}
        }
        {% endfor %}
    }
}
