routing-options {
    router-id {{ routing_options.router_id }};
    autonomous-system {{routing_options.autonomous_system}};
    forwarding-table {
       export load-balance;
       chained-composite-next-hop {
           ingress {
               evpn;
           }
       }
    }
}
